accounts.google.com

INVERT
svg

================================

docs.google.com

INVERT
.docs-icon
.docs-homescreen-icon
.docs-homescreen-item-overflow-white-24
.docs-homescreen-unfold-more-24
svg
.docs-instant-button-bubble-icon
.kix-paginateddocumentplugin-compact-mode
.kix-cursor

================================

facebook.com

INLINE
._50dz > div[style]

================================

farside.ph.utexas.edu
mathpages.com
mathprofi.ru
mathprofi.net
mathworld.wolfram.com
reference.wolfram.com
terrytao.wordpress.com

INVERT
img

================================

wikipedia.org

INLINE
.mw-parser-output *

INVERT
.mwe-math-element

================================

youtube.com

INVERT
#checkmark
.toggle-container.paper-toggle-button
.deemphasize.yt-formatted-string
